# --- Configuration for docker---
# --- Auth-service
DB_NAME=auth_db
DB_USER=postgres
DB_PASSWORD=password123
MIGRATIONS_AUTO=false
TIME_ZONE=Europe/Moscow
DB_PORT=5432
APP_PORT=8040
JWT_SECRET=super-secret-key-from-env

FRONTEND_HOST=http://localhost:5173

# --- Outher services

