# --- Configuration for docker---
# --- Auth-service
DB_NAME=auth_db
DB_USER=postgres
DB_PASSWORD=password123
MIGRATIONS_AUTO=false
TIME_ZONE=Europe/Moscow
DB_PORT=5432
APP_PORT=8040
JWT_SECRET=super-secret-key-from-env

FRONTEND_HOST=http://localhost:5173

# --- Post service
# Mongo
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DB=post_db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# gRPC Auth
AUTH_GRPC_HOST=auth_service
AUTH_GRPC_PORT=50051

# App (Post service)
POST_SERVICE_APP_PORT=8050

