name: Go Tests

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password123
          POSTGRES_DB: auth_db
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.5'
          cache: true

      - name: Install dependencies
        run: go mod download

      - name: Run Linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

      - name: Build Application
        run: go build -v -o app-binary ./auth-service/cmd/app

      - name: Apply Migrations
        run: |
          go install github.com/pressly/goose/v3/cmd/goose@latest
          goose -dir ./auth-service/migrations postgres "user=postgres password=password123 dbname=auth_db sslmode=disable" up

      - name: Run Tests
        env:
          DB_HOST: localhost
          DB_PORT: 5432
          DB_USER: postgres
          DB_PASSWORD: password123
          DB_NAME: auth_db
          MIGRATIONS_PATH_TEST: ./auth-service/migrations
        run: go test -v -p 1 ./auth-service/...